---
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';
import Page from '../../layouts/Page.astro';
import PostTable from '../../components/PostTable';


const posts = (await getCollection('blog', ({ data }) => {
  return data.isDraft !== true; })).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);



const metaData = {
	title: 'Posts',
	description: 'be written'
}
---

<Page title={metaData.title} description={metaData.description} >
				<!-- <ul>
					{
						posts.map((post) => (
							<li>
								<FormattedDate date={post.data.pubDate} />
								<a href={`/blog/${post.slug}/`}>{post.data.title}</a>
							</li>
						))
					}
				</ul> -->
				<PostTable client:load posts={true}>
</Page>


