---
import { getCollection } from 'astro:content';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';


import Page from '../layouts/Page.astro';
import OtherPost from '../components/OtherPost.astro';
import Tag from "../components/Tag.astro";
import FormattedDate from '../components/FormattedDate.astro';
import Subscribe from '../components/SubscribeComponent.astro';



const latestPosts = await getCollection('blog', ({ data }) => {
  return data.isDraft !== true; })

// Assuming the `getCollection` function returns a Promise of an array of posts
latestPosts.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf());

const [lastPost, secondPost, thirdPost, fourthPost, ...remainingPosts] = latestPosts;

const { title, pubDate, description, tags, coverImage, coverAlt } = lastPost.data;

---
<Page title={SITE_TITLE} description={SITE_DESCRIPTION} >


	<div class="landing-posts" data-pagefind-ignore>
		<span class="helper-headline latest-post-text">Latest Posts</span>
		<div class="last-post__photo-wrapper">
			<img src={coverImage} alt={coverAlt}>
		</div>
		<div class="last-post__content-container">
			<div class="headline-container">
				<span class="date">
					<FormattedDate date={pubDate} />
				</span>
				<a href={`/blog/${lastPost.slug}/`}><h2>{title}</h2></a>
			</div>
			<hr>
			<a href={`/blog/${lastPost.slug}/`}><span class="description">
				{description}
			</span></a>
			<div class='tags'>
				{
				tags.map(tag => (
					<Tag tag={tag} colorClass='black' />
				))}
			</div>
		</div>

		<section class="other-posts" data-pagefind-ignore>
		{secondPost && <OtherPost data={secondPost} isItLastEl={false}  />}
		{thirdPost && <OtherPost data={thirdPost} isItLastEl={false}/>}
		{fourthPost && <OtherPost data={fourthPost} isItLastEl={true}/>}

	</section>
	<span class="see-all-text"><a class='button button--small' href={`/blog`}>See all</a></span>
</div>
<Subscribe />

</Page>


<style>

	.landing-posts {
		display: grid;
		grid-template-columns: repeat(16, 1fr);
		grid-template-rows: auto;
		grid-auto-flow: row;
		grid-gap: 0 2rem;
		margin-bottom: clamp(3rem, 2vw, 5rem)
	}

	.latest-post-text {
		grid-area: 1 / 3 / span 1 / 15
	}

	.see-all-text {
		display: flex;
		grid-area: 24 / 3 / span 1 / 15;
		justify-content: flex-end;
		white-space: nowrap;
	}

    .last-post__content-container {
			grid-area: 14 / 4 / span 9 / 16;
			color: white;
            background-color: black;
            padding: 2.7rem;
            display: flex;
            flex-direction: column;
            gap: 1.4rem;

			& .headline-container{
				display: flex;
				flex-direction: column;
				margin-bottom: .4rem
			}

			& .description {
				max-width: 90%;
			}

			& hr {
			max-width: 45rem;
			}

			& a {
				color: white;
				text-decoration: none;
			}
		}

	.last-post__photo-wrapper {
		grid-area: 2 / 3 / span 14 / 15;
        width: 100%;
        height: 30rem;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;

			& img {
				height: auto; /* Ensure the image covers the full height of the container */
				width: 100%; /* Allow the image to adjust its width proportionally */	
			}
    }

	.other-posts {
		grid-area: 23 / 3 / span 1 / 14;
		margin: 1rem 0;
	}


	@media (max-width: 1000px) {

		.latest-post-text {
		grid-area: 1 / 1 / span 1 / span 6;
		font-size: .7rem;
		margin: .8rem;
		padding: .1rem .5rem;
		background-color: #fff;
		opacity: .8;
		border-radius: .7rem;
		color: #000;
		justify-self: left;
		z-index: 1;
		}

		.last-post__photo-wrapper {
		grid-area: 1 / 1 / span 14 / 17;
		}

		.last-post__content-container {
			grid-area: 14 / 1 / span 9 / 17;
		}

		.other-posts {
		grid-area: 23 / 2 / span 1 / 16;
		margin: 2rem 0;
		}

		.see-all-text {
		grid-area: 26 / 3 / span 1 / 16;
		}
	}

	
	@media (max-width: 700px) {


		.last-post__photo-wrapper {
			height: 400px;
	
		}
}

	@media (max-width: 540px) {

		.landing-posts {
			grid-gap: initial
		}
		.last-post__content-container {
			grid-area: 15 / 1 / span 9 / 17;
			padding: 2rem 1rem;
		}

		.last-post__photo-wrapper {
			height: 300px;

		}

		.other-posts {
		grid-area: 25 / 1 / span 1 / 17;
		margin: 1rem 1rem;
		}

		.see-all-text {
		grid-area: 26 / 3 / span 1 / 17;
		padding-right: 1rem;
	}
}


@media (max-width: 400px) {
	.last-post__photo-wrapper {
			height: 200px;
		}
	}



</style>