---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE } from '../consts';
import {frontmatter} from '../info/about-data.md'


const {title} = Astro.props

function generatePageTitle(title) {
  return title === SITE_TITLE ? title : title + " | " + SITE_TITLE;
}


---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={generatePageTitle(title)} description={frontmatter.description} image='web-graph-elements/minas-mongrel-pyramid-og_image.webp' />

		<script defer>
			window.addEventListener('DOMContentLoaded', function() {
				const mainContainer = document.body;
				const graphicElement = document.querySelector('.middle-image-container');

				function updateHeight() {
					const mainHeight = mainContainer.offsetTop + mainContainer.offsetHeight;
					const graphicContainerHeight = mainHeight - 528;
					graphicElement.style.height = `${graphicContainerHeight + 60}px`;
				}

				// Initial call to update the height
				updateHeight();

				// Call updateHeight() whenever the window is resized
				window.addEventListener('resize', updateHeight);
			});
		</script>
	</head>

	<body>

		<div>
		<Header title={SITE_TITLE} />
		<main>
            <slot />
		</main>
		<Footer />
		</div>
	</body>
	<div class="middle-image-container">
	</div>
</html>





<style>

	.middle-image-container {
		position: absolute;
		top: 33rem;
		left: 0px;
		z-index: 100;
		background-image: url('/web-graph-elements/MiddleTower-min.png');
		width: 300px;
		height: 200px

	}

	/*  Graphics */


	@media (max-width: 1700px) {
			.middle-image-container,
			.bottom-image-container{
				left: -80px;
			}

			.bottom-image-container {
				rotate: 4deg;
			}
		}


	@media (max-width: 1500px) {
			.middle-image-container{
				left: -90px;
			}

			.bottom-image-container {
				rotate: 4deg;
			}
		}

		
	@media (max-width: 1204px) {
			.middle-image-container {
				left: -140px;
			}


		}

	@media (max-width: 1000px) {
			.middle-image-container
			{
				display: none;
			}
		}





</style>